/* Global elements style */
html * {
    font-family: 'Courier New', monospace;
    font-size: 1em;
    text-decoration: none;
}

table {
    border: 0;
    width: 100%;
}

th, td {
    /* top right bottom left */
    padding: 0.5em 0em 0.5em 0em;
}

a:visited {
    color: inherit;
}

a:hover {
    color: #2c2c32;
}

.right {
    float: right;
}

.left {
    float: left;
}

/* Button global design */
.button {
    min-width: 8em;
    background-color: #4cbb17;
    border: 0.2em solid #4cbb17;
    color: white;
    padding: 0.6em 0.6em;
    text-decoration: none;
    cursor: pointer;
}

.button:hover {
    border: 0.2em solid #4cbb17;
    background-color: #fff;
    color: black;
}

input[type='number'] {
    height: 2.6em;
    text-align: center;
    -moz-appearance: textfield;
}

/* Hide input type number arrows */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.control {
    background:  #f2f2f2;
    border-radius: 0.2em;
    padding: 0.7em 0.7em 0.7em 0.7em;
    border: 0.1em solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

/* 
    Navigation bar
*/
.navbar {
    overflow: hidden;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2c2c32;
    height: 3.6em;
}

/* Container for links */
.container {
    margin: auto;
    width: 64%;
}

/* Links inside navbar*/
.container a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1.5em 1em;
    text-decoration: none;
}

.container a:hover {
    background: #ddd;
    color: #000;
}

/* Main page wrapper */
.wrapper {
    margin: auto;
    width: 64%;
    padding-top: 8em;
}

/* Product image on all products page specific styles */
.all_img {
    width: 12em;
    height: 12em;
    margin-right: 2em;
    border: 0;
}

/* Product image on full description page */
.product_img {
    width: 20em;
    height: 20em;
    border: 0;
    cursor: pointer;
}

.product_thumbs {
    width: 4em; 
    height: 4em;
    padding-top: 2em;
    border: 0;
    cursor: pointer;
}

.cart_thumbs {
    width: 4em; 
    height: 4em;
    border: 0;
}

/*
    Product images Slider
*/
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 1% auto;
    width: 80%; /* Could be more or less, depending on screen size */
}
  
/* Hide the slides by default */
.slides {
    display: none;
    max-width: 100%;
    max-height: 75vh;
}
  
.close {
    color: black;
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
    padding: 0.5vh 1vw 0.5vh 1vw;
    transition: 0.6s ease;
    user-select: none;
    -webkit-user-select: none;
    border-radius: 1vh 1vh 1vh 1vh;
}
  
.close:hover, .close:focus {
    text-decoration: none;
    border-radius: 1vh 1vh 1vh 1vh;
    background-color: #2c2c32;
}

.prev, .next {
    cursor: pointer;
    top: 50%;
    width: auto;
    padding: 2vh;
    color: black;
    font-weight: bold;
    font-size: 2em;
    transition: 0.6s ease;
    user-select: none;
    -webkit-user-select: none;
    border-radius: 1vh 1vh 1vh 1vh;
}
    
.prev:hover, .next:hover {
    background-color: #2c2c32;
    border-radius: 1vh 1vh 1vh 1vh;
}
  
img.thumbs {
    width: 8vh;
    height: 8vh;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    opacity: 0.6;
    cursor: pointer;
}
 