{{ define "base" }}
<html>
    <head>
        <meta charset="utf-8">
        <title>Admin Panel</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <!-- Top Navigation Menu -->
        <div class="navbar">
            <div class="container">
                <a href="/product/all"><b>Product</b></a>
                <a href="/ingredient/all"><b>Ingredient</b></a>
                <a href="/unit/all"><b>Unit</b></a>
            </div>
        </div>
        <!-- Page Content -->
        <div class="wrapper">
            {{ template "content" . }}
        </div>
    </body>
</html>    
{{ end }}