{{ define "base" }}
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/style.css">
    </head>
<body>
<form action="/composition/add" method="post" >
    <table>
        <tr><th align="left" style="width: 80%;">Name</th><th align="left">Qty</th></tr>
        <tr style="background-color: #fff;"><td>
            <select id="ingredient_id" name="ingredient_id" style="width: 90%;">
            {{ range .Ingredient }}
                <option value="{{ .Id }}">{{ .Name }}</option>
            {{ end }}
            </select>
        </td><td>
            <input type="text" name="qty" id="qty" style="width: 80%;" required>
        </td><td align="right">
            <input type="hidden" name="product_id" value="{{ $.Product_ID }}">
            <input type="submit" value="Add">
        </td></tr>
    </table>
</form>
    
<style>
    tr:nth-child(even) { background-color: rgb(240, 239, 239); }
</style>

<table style="margin-top: 50px;" >
    <tr><th align="left">Name</th><th align="left">Qty</th></tr>
{{ range .Composition }}
    <tr>
        <td>{{ .Name }}</td>
        <td>{{ .Qty }}</td>
        <td align="right">
            <form action="/composition/delete" method="post">
                <input type="hidden" name="id" value="{{ .Id }}">
                <input type="hidden" name="product_id" value="{{ $.Product_ID }}">
                <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
            </form>
        </td>        
    </tr>
{{ end }}
</table>
</body>
</html>
{{ end }}