{{ define "content" }}
<script type="application/javascript">
    var loadFile = function(event, element) {
        var output = document.getElementById(element);
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function() {
            URL.revokeObjectURL(output.src) // free memory
        }
    };
    window.addEventListener('DOMContentLoaded', function(e) {
        var frame = document.getElementById("Iframe");    
        frame.onload = function() {
            frame.style.height = frame.contentWindow.document.body.scrollHeight + 'px';
        }
    } );    
</script>

<form action="/product/descriptionupdate" method="POST" enctype="multipart/form-data">
<table style="table-layout: fixed; border-collapse:separate;">
<!-- Product name -->    
    <tr><th style="padding-bottom: 40px; text-align: left;">{{ (index .Product 0).Name }}</th></tr>
<!-- Main image -->        
    <tr><td colspan="2" style="height: 400px;">        
        <img id="img_main" {{ if ge (len .Media) 1 }} src="/media/{{ (index .Media 0).Name }}" {{ end }} style="width: 100%; height: 100%;"/>
    </td></tr> 
    <tr><td colspan="2" style="width: 50%;">
        <input type="file" id="img_main" name="images" accept="image/png" onchange="loadFile(event, 'img_main')")>
    </td></tr>
<!-- Additional images -->    
    <tr><td style="height: 180px;">
        <img id="img_one" {{ if ge (len .Media) 2 }} src="/media/{{ (index .Media 1).Name }}" {{ end }} style="width: 100%; height: 100%;"/>
    </td><td style="height: 180px;">
        <img id="img_two" {{ if ge (len .Media) 3 }} src="/media/{{ (index .Media 2).Name }}" {{ end }} style="width: 100%; height: 100%;"/>
    </td><td style="height: 180px;">
        <img id="img_three" {{ if ge (len .Media) 4 }} src="/media/{{ (index .Media 3).Name }}" {{ end }} style="width: 100%; height: 100%;" />
    </td></tr>
    <tr><td>
        <input type="file" id="img_one" name="images" accept="image/png" onchange="loadFile(event, 'img_one')">
    </td><td>
        <input type="file" id="img_two" name="images" accept="image/png" onchange="loadFile(event, 'img_two')">
    </td><td>
        <input type="file" id="img_three" name="images" accept="image/png" onchange="loadFile(event, 'img_three')">
    </td></tr>
<!-- Ingredients --> 
    <tr><td colspan="3">
        <iframe id="Iframe" src="/composition/{{ (index .Product 0).Id }}" frameborder=0></iframe>
    </td></tr>
<!-- Laconic and full description -->   
    <tr><td colspan="3">
        <textarea id="laconic" name="laconic" placeholder="Short product description" rows="5">{{ if (index .Product 0).Laconic }}{{ (index .Product 0).Laconic }}{{ end }}</textarea>
    </td></tr>
    <tr><td colspan="3">
        <textarea id="full" name="full" placeholder="Full product description" rows="16">{{ if (index .Product 0).Full }}{{ (index .Product 0).Full }}{{ end }}</textarea>
    </td></tr>
<!-- Submit update -->       
    <tr><td colspan="3" align="right">
        <input type="hidden" name="id" value="{{ (index .Product 0).Id }}">
        <input type="submit" value="Save">
    </td></tr>
</table>    
</form>
{{ end }}
