{{ define "content" }}
{{ if eq (len .) 1 }}
<form method="post" action="/ingredient/update">
    <table>
        <tr><th align="left" style="width: 80%;">Name</th></tr>
        <tr style="background-color: #fff;"><td>
            <input type="text" name="ingredient" id="ingredient" value="{{ (index . 0).Name }}" style="width: 100%;" required>
            <input type="hidden" name="id" value="{{ (index . 0).Id }}">
        </td><td align="right">
            <input type="submit" value="Update">
        </td></tr>
    </table>
</form>

{{ else }}

<form method="post" action="/ingredient/add">
    <table>
        <tr><th align="left" style="width: 80%;">Name</th></tr>
        <tr style="background-color: #fff;"><td>
            <input type="text" name="ingredient" id="ingredient" style="width: 100%;" required>
        </td><td align="right">
            <input type="submit" value="Add">
        </td></tr>
    </table>
</form>
    
<style>
    tr:nth-child(even) { background-color: rgb(240, 239, 239); }
</style>

<table style="margin-top: 50px;" >
    <tr><th align="left">Name</th></tr>
{{ range . }}
    <tr>
        <td>{{ .Name }}</td>
        <td align="right">
            <form action="/ingredient/edit" method="get">
                <input type="hidden" name="id" value="{{ .Id }}">
                <input type="submit" value="Edit">
            </form>
        </td>
        <td align="right">
            <form action="/ingredient/delete" method="post">
                <input type="hidden" name="id" value="{{ .Id }}">
                <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
            </form>
        </td>        
    </tr>
{{ end }}
</table>
{{ end }}
{{ end }}
