{{ define "content" }}
{{ if eq (len .Product) 1 }}
<form method="post" action="/product/update">
    <table>
        <tr>
            <th align="left" style="width: 50%;">Name</th>
            <th align="left" style="width: 15%;">Qty</th>
            <th align="left" style="width: 15%;">Price</th>
            <th align="left" style="width: 15%;">Unit</th>
        </tr>
        <tr style="background-color: #fff;">
            <td><input type="text" name="product" id="product" value="{{ (index .Product 0).Name }}" style="width: 98%;" required></td>
            <td><input type="number" name="qty" id="qty" min="1" value="{{ (index .Product 0).Qty }}" style="width: 95%;"></td>
            <td><input type="number" name="price" id="price" value="{{ (index .Product 0).Price }}" style="width: 95%;"></td>
            <td>
                <select id="unit_id" name="unit_id" style="width: 95%;">
                    {{ range .Unit }}
                    <option {{ if eq .Id (index .Product 0).Unit_id }}selected{{ end }} value="{{ .Id }}">{{ .Name }}</option>
                    {{ end }}
                </select>
            </td>
            <td align="right"><input type="submit" value="Update"></td>
        </tr>
    </table>    
</form>    
    
{{ else }}

<form method="post" action="/product/add">
<table>
    <tr>
        <th align="left" style="width: 50%;">Name</th>
        <th align="left" style="width: 15%;">Qty</th>
        <th align="left" style="width: 15%;">Price</th>
        <th align="left" style="width: 15%;">Unit</th>
    </tr>
    <tr style="background-color: #fff;">
        <td><input type="text" name="product" id="product" style="width: 98%;" required></td>
        <td><input type="number" name="qty" id="qty" min="1" value="1" style="width: 95%;"></td>
        <td><input type="number" name="price" id="price" value="0" style="width: 95%;"></td>
        <td>
            <select id="unit_id" name="unit_id" style="width: 95%;">
                {{ range .Unit }}
                    <option value="{{ .Id }}">{{ .Name }}</option>
                {{ end }}
            </select>
        </td>
        <td align="right"><input type="submit" value="Add"></td>
    </tr>
</table>    
</form>

<style>
    tr:nth-child(even) { background-color: rgb(240, 239, 239); }
</style>

<table style="margin-top: 50px;">
    <tr><th align="left">Name</th><th align="left">Qty</th><th align="left">Price</th><th align="left">Unit</th></tr>
{{ range .Product }}
    <tr>
        <td style="width: 50%;">{{ .Name }}</td>
        <td style="width: 10%;">{{ .Qty }}</td>
        <td style="width: 10%;">{{ .Price }}</td>
        <td style="width: 10%;">{{ .Unit }}</td>
        <td align="right">
            <form action="/product/delete" method="post">
                <input type="hidden" name="id" value="{{ .Id }}">
                <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
            </form>
        </td>        
        <td align="right">
            <form action="/product/edit" method="get">
                <input type="hidden" name="id" value="{{ .Id }}">
                <input type="submit" value="Edit">
            </form>
        </td>
        <td align="right">
            <form action="/product/description" method="get">
                <input type="hidden" name="id" value="{{ .Id }}">
                <input type="submit" value="Description">
            </form>
        </td>        
    </tr>
{{ end }}
</table>
{{ end }}
{{ end }}