{{ define "add_to_cart" }}
<table>
    <tr><td align="right">
        <button type="button" class="control" onclick="qtyMinus({{ .Id }})">-</button><input type="number" id="{{ .Id }}_qty" value="1" style="width: 3em;"><button id="{{ .Id }}_plus" type="button" class="control" onclick="qtyPlus({{ .Id }}, {{ .Qty }})">+</button>
        <button type="button" class="button" onclick="addToCart({{ .Id }})">В корзину</button>
    </td></tr>
</table>
<input type="hidden" id="{{ .Id }}_name" value="{{ .Name }}">
<input type="hidden" id="{{ .Id }}_max" value="{{ .Qty }}">
<input type="hidden" id="{{ .Id }}_price" value="{{ .Price }}">
<input type="hidden" id="{{ .Id }}_thumb" value="{{ .Image }}">
{{ end }}