{{ define "base" }}
<html>
    <head>
        <meta charset="utf-8">
        <title>Ветчина, Салями, Копчености, Сосиски</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body onload="loadCart()">
        <!-- Top Navigation Menu -->
        <div class="navbar">
            <div class="container">
                <a href="/" class="left"><b>Главная</b></a>
                <a href="/cart" class="right"><b id="cart_qty">Корзина</b></a>
            </div>
        </div>
        <!-- Page Content -->
        <div class="wrapper">
            {{ template "content" . }}
        </div>
        <script src="/js/cart.js"></script>     
        {{ if eq .Url "cart" }}
        <script>displayCart();</script>
        {{ end }}
    </body>
</html>    
{{ end }}