{{ define "content" }}
<table>
    <tr><td rowspan="2" colspan="3" style="width: 50%;">
        {{ if ge (len .Media) 1 }}<img class="product_img" src="/media/{{ (index .Media 0).Name }}" onclick="openModal();currentSlide(1)">{{ end }}
        <!-- space between product image and ingredients list -->            
        </td><td rowspan="3" style="width: 2vw;"></td>
        <td colspan="2"><h3>{{ (index .Description 0).Name }}</h3><h3>{{ (index .Description 0).Price }}грн/{{ (index .Description 0).Unit }}</h3></td>
    </tr>
    <tr><td>
            {{ range .Composition }}
                <p>{{ .Name }}</p>
            {{ end }}
        </td><td align="right">
            {{ range .Composition }}
                <p>{{ .Qty }}</p>
            {{ end }}
    </td></tr>
    <tr>
        <td style="width: 15%;">
            {{ if ge (len .Media) 2 }}<img id="img_one" class="product_thumbs" src="/media/{{ (index .Media 1).Name }}" onclick="openModal();currentSlide(2)"/>{{ end }}
        </td>
        <td style="width: 15%;">
            {{ if ge (len .Media) 3 }}<img id="img_two" class="product_thumbs" src="/media/{{ (index .Media 2).Name }}" onclick="openModal();currentSlide(3)"/>{{ end }}
        </td>
        <td style="width: 15%;">
            {{ if ge (len .Media) 4 }}<img id="img_three" class="product_thumbs" src="/media/{{ (index .Media 3).Name }}" onclick="openModal();currentSlide(4)"/>{{ end }}
        </td>
        <td colspan="2" valign="bottom">
            {{ template "add_to_cart" . }}
        </td>
    </tr>

    <tr><td colspan="6" style="padding-top: 12vh;">
            {{ (index .Description 0).Full }}
    </td></tr>
</table>
<!-- Modal -->
<div id="modal" class="modal">
    <div class="modal-content">
    <table>
        <tr><td style="width: 10%;"></td>
            <td style="width: 80%;"></td>
            <td align="right" style="width: 10%;">
            <span class="close" onclick="closeModal()">&times;</span>
        </td></tr>
        <tr><td>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        </td><td align="center">
        {{ range .Media }}
            <img class="slides" src="/media/{{ .Name }}">
        {{ end }}
        </td><td align="right">
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </td>
    </td></tr>
    <tr>
      <!-- Thumbnail image controls -->
        <td></td><td align="center">
        {{ range $i, $a := .Media }}
            <img class="thumbs" src="/media/{{ $a.Name }}" onclick="thumbSlide({{ $i }})">
        {{ end }}
        </td><td></td>
    </tr>
    </table>        
    </div>
</div>  
<script src="/js/slider.js"></script>       
{{ end }}