{{ define "content" }}
<div style="text-align: center; margin-bottom: 4em;">
    <h3>Payment method</h3>
    <h3>К оплате: {{ .Total }}</h3>
    <button type="submit" class="button" onclick="purchaseDone()">Оплачено</button>
</div>
<h3>Ваш заказ</h3>
<hr>
<table>
    <tr><th></th><th align="left">Товар</th><th align="right">Количество</th><th align="right">Цена</th><th align="right">Стоимость</th></tr>
    {{ range .Product }}
    <tr>
        <td><img class="cart_thumbs" src="/media/{{ .Image }}"></td>
        <td align="left">{{ .Name }}</td>
        <td align="right">{{ .Qty }}</td>
        <td align="right">{{ .Price }}</td>
        <td align="right">{{ .Sum }}</td>
    </tr>
    {{ end }}
</table>
{{ end }}