{{ define "content" }}
{{ range .Product }}
<table style="margin-bottom:16vh;">
    <tr>
        <td rowspan="3" style="height: 2em;">
            <a href="/description/{{ .Id }}">
                <img class="all_img" {{ if .Image }} src="/media/{{ .Image }}" {{ end }}>
            </a>
        </td>
        <td colspan="2">
            <a href="/description/{{ .Id }}">
                <h3>{{ .Name }}</h3>
            </a>
        </td>
    </tr>
    <tr>
        <td valign="top" colspan="2" style="height: 7em;">{{ .Laconic }}</td>
    </tr>
    <tr>
        <td style="width: 40%; height: 2em;">
            <b>{{ .Price }}грн/{{ .Unit }}</b>
        </td>
        <td style="width: 60%; height: 2em;">
            {{ template "add_to_cart" . }}
        </td>
    </tr>
</table>
{{ end }}
{{ end }}
