/* Global elements style */
html * {
    font-family: 'Courier New', monospace;
    font-size: 1em;
}

table {
    border: 0;
    width: 100%;
}

th, td {
    /* top right bottom left */
    padding: 0.5em 0em 0.5em 0em;
}

iframe {
    width: 100%;
    height: auto;
    margin-top: 8em;
    margin-bottom: 8em;
}

form {    
    margin: 0;
}

input[type=submit] {
    cursor: pointer;
}

textarea {
    width: 100%;
    spellcheck: true;
}

/* Alway show arrows to decrease/increase number */
input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}


/* 
    Navigation bar
*/
.navbar {
    overflow: hidden;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2c2c32;
    height: 3.6em;
}

/* Container for links */
.container {
    margin: auto;
    width: 64%;
}

/* Links inside navbar*/
.container a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1.5em 1em;
    text-decoration: none;
}

.container a:hover {
    background: #ddd;
    color: #000;
}


/* 
    Main page 
*/
.wrapper {
    margin: auto;
    width: 64%;
    padding-top: 8em;    
}
